body{
    font-family: Arial, Helvetica, sans-serif;
}
.box-wrapper{
    border: 10px solid #222;
    display: flex;
    height: 400px;
    /* flex-wrap: wrap-reverse; */

    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
}
.box{
    border: 1px solid #666;
    width: 500px;
    
}
.box-1{
    background: lightblue;
}
.box-2{
    background: lightcoral;
}
.box-3{
    background: lightcyan;
}
.box-4{
    background: lightgray;
}
.box-5{
    background: lightyellow;
}

