.box{
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    background: skyblue;
    margin: 100px auto;
    transform-origin: top left;
    transition: transform 2s ease-in-out;
    
}
.box:hover{
    transform: rotate(90deg);
    /* transform: scale(2); */
    /* transform: translate(50px); */
    /* transform: skewY(20deg); */

}